# .NET
bin/
obj/
publish/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.VC.VC.opendb
*.nupkg
*.snupkg
.vs/
.vscode/

# Angular
node_modules/
dist/
tmp/
out-tsc/
.angular/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.npm
.eslintcache
.stylelintcache

# Testing
coverage/
*.lcov
.nyc_output
lib-cov
*.seed
*.pid.lock

# IDE
.idea/
*.swp
*.swo
*~
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
desktop.ini

# Environment
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite
*.sqlite3

# Docker
.dockerignore
/electron-app/api
/electron-app/dist-electron
/electron-app/frontend
